{% extend '/Base/Templates/layout.tpl.html' %}

{% block menu-top-right %}
	{% include '/Base/Templates/menu-back.tpl.html' %}
{% endblock %}

{% block content %}
	<h1>Lexique</h1>
	<h2>A</h2>
	<ul>
		<li><b>Acide :</b> Un composé chimique généralement défini par ses réactions avec un autre type de composé chimique complémentaire, les bases.</li>
		<li><b>Anion :</b> Un ion de charge négative.</li>
		<li><b>Anion monoatomique :</b> Un anion composé d'un atome.</li>
		<li><b>Anion polyatomique :</b> Un anion composé de pluisuers atomes.</li>
		<li><b>Atome :</b> La plus petite partie d'un corps simple pouvant se combiner chimiquement avec un autre.</li>
	</ul>
	
	<h2>B</h2>
	<ul>
		<li><b>Base :</b> Une base est un produit chimique qui, à l'inverse d'un acide, est capable de capturer un ou plusieurs protons ou, réciproquement, de fournir des électrons.</li>
	</ul>
	
	<h2>C</h2>
	<ul>
		<li><b>Cation :</b> Un ion de charge positive.</li>
		<li><b>Cation monoatomique :</b> Un cation composé d'un atome.</li>
		<li><b>Cation polyatomique :</b> Un cation composé de plusieurs atomes.</li>
		<li><b>Composé covalent :</b> Composé chimique où les atomes se combinent en partageant des électrons afin de former des molécules (principalement des non-métaux).</li>
		<li><b>Composé ionique :</b> Composé chimique où les atomes gagnent ou perdent des électrons afin de former des ions positifs et négatifs s’organisant dans l’espace de façon régulière (principalement des métaux et non-métaux).</li>
		<li><b>Corps pur :</b> Un corps ne comportant qu'une seule espèce chimique.</li>
		<li><b>Corps simple :</b> Une forme chimique ne comportant qu'un élément chimique, par opposition aux composés chimiques.</li>
	</ul>
	
	<h2>D</h2>
	<ul>
		<li><b>Degré d'oxydation :</b> Etat électronique d'un élément chimique.</li>
	</ul>
	
	<h2>E</h2>
	<ul>
		<li><b>Echelle de Pauling :</b> Une échelle de l'électronégativité largement utilisée.</li>
		<li><b>Electron :</b> Une particule élémentaire qui possède une charge de signe négatif.</li>
		<li><b>Electronégativité :</b> Une grandeur qui caractérise la capacité d'un élément à attirer les électrons lors de la formation d'une liaison chimique avec un autre élément.</li>
		<li><b>Element :</b> Ensemble des atomes caractérisés par un même nombre de protons (Ex: <sub>1</sub>H, <sub>6</sub>C).</li>
	</ul>
	
	<h2>I</h2>
	<ul>
		<li><b>Ion :</b> Un atome ou une molécule ayant donné ou reçu un électron et n'étant plus de charge éléctrique neutre.</li>
	</ul>
	
	<h2>M</h2>
	<ul>
		<li><b>Minéral :</b> Un minéral est une substance inorganique.</li>
	</ul>
	
	<h2>P</h2>
	<ul>
		<li><b>Préfixe :</b> Un ensemble de lettre placé au début d’un mot pour modifier le sens et par la même occasion en créer un nouveau.</li>
		<li><b>Proton :</b> Une particule élémentaire qui possède une charge de signe positif.</li>
	</ul>
	
	<h2>S</h2>
	<ul>
		<li><b>Suffixe :</b> Un ensemble de lettre placé à la fin d’un mot pour modifier le sens et par la même occasion en créer un nouveau.</li>
	</ul>
{% endblock %}